<% if @result %>
  <div class="container-fluid">
    <% @result.each do |result| %>
      <p>
        <%= form_tag lyrics_saved_path, remote: true, method: :get, id: "search-lookup-form" do  %>
        <input type="radio" name="radios1" value="<%= "#{result[:songname]} #{result[:singername]} #{result[:lyrics]},#{result[:link]},Valid" %>"> <b> Valid</b>
        <input type="radio" name="radios1" value="<%= "#{result[:songname]} #{result[:singername]} #{result[:lyrics]},#{result[:link]},Lyrics Not Available" %>"> <b> Lyrics Not Available</b>
        <input type="radio" name="radios1" value="<%= "#{result[:songname]} #{result[:singername]} #{result[:lyrics]},#{result[:link]},Lyrics Not Related" %>"> <b> Lyrics Not Related</b>&nbsp;&nbsp;
        <button type="submit" value="Save" class="btn btn-success"><i class="glyphicon glyphicon-music"></i> Save</button>&nbsp;&nbsp;
        <%= result[:link] %>
        <% end %>
      </p>
    <% end %>


  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <button class="btn btn-sm btn-primary pull-right" data-clipboard-target="#bar0">Copy</button><br />
        <div class="panel-body">
           <h5 class="word-wrap"><b><%= link_to @result[0][:link],@result[0][:link], target: :_blank %></b><hr></h5>
        </div>

        <div class="panel-body" id="bar0">
           <%= raw Crawler.get_webcontent(@result[0][:link]) %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <button class="btn btn-sm btn-primary pull-right" data-clipboard-target="#bar1">Copy</button><br />
        <div class="panel-body">
           <h5 class="word-wrap"><b><%= link_to @result[1][:link],@result[1][:link], target: :_blank %></b><hr></h5>
        </div>

        <div class="panel-body" id="bar1">
           <%= raw Crawler.get_webcontent(@result[1][:link]) %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        <button class="btn btn-sm btn-primary pull-right" data-clipboard-target="#bar2">Copy</button><br />
        <div class="panel-body">
           <h5 class="word-wrap"><b><%= link_to @result[2][:link],@result[2][:link], target: :_blank %></b><hr></h5>
        </div>

        <div class="panel-body" id="bar2">
           <%= raw Crawler.get_webcontent(@result[2][:link]) %>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="panel panel-default">
        <button class="btn btn-sm btn-primary pull-right" data-clipboard-target="#bar3">Copy</button><br />
        <div class="panel-body">
           <h5 class="word-wrap"><b><%= link_to @result[3][:link],@result[3][:link], target: :_blank %></b><hr></h5>
        </div>

        <div class="panel-body" id="bar3">
           <%= raw Crawler.get_webcontent(@result[3][:link]) %>
        </div>
      </div>
    </div>

</div>
</div>
<% end %>

<% content_for(:third_party_js) do %>
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
<% end %>
<script>
  var clipboard = new Clipboard('.btn');
</script>
